// import and bundle required scss modules for global use
// ======================================================
// example
// @import './variables/variables';
// @
// @import 'mixins';
// @import 'rules';
// ======================================================

// add global styles here
// ==================================================
// example
// body {
//   color: $brand-text-color;
//   font-family: $font-family;
//   background-color: $brand-background-primary-color;
// }
// ===================================================

@import "./variables/variables";
@import "functions";
@import "mixins";
@import "rules";

//! VARIABLES

$primary-color: #F99417;
$gray-color: #64748b;
$light-color: #f1f5f9;
$dark-color: #1e293b;
$dark-alt-color: #334155;
$general-transition: all 0.5s;
$sidebar-width:300px;



