/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #F99417;
  --greey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-with: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Golos Text', sans-serif;
}

body {
  background-color: var(--light);
}
